<!-- Adicione isso ao cabeçalho do seu arquivo base.html -->
<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Orcamento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top"> 
      <div>
        <a href="/admin/">Area Administrativa</a>
      </div>  
    </nav>
    <div class="titulo">
      <img src="{% static 'image/abaco.png' %}" />
    </div/>
    
    {% block content %}
    {% endblock %}

  
    <footer class="footer fixed-bottom"> 
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        <a class="text-body" target=blank href="https://github.com/phaleixo/orcamento">DRP10-PJI110-A2024S1-T002 (Projeto PI-1 Univesp 2024)</a>
      </div>
      <!-- Copyright -->
    </footer> 

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
