<!DOCTYPE html>
<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastrar Produto</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo">
                <img src="{% static 'image/logo_abaco.png' %}" alt="Logo">
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Bem Vindo, {{ user.get_username }} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'criar_pedido' %}">Criar-Pedido</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'cadastrar_produto' %}">Cadastrar-Produto</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="nav-link" role="button">Deslogar</a>
                        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                            {% csrf_token %}
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        {% if messages %}
            {% for message in messages %}
                <section class="alert {{message.tags}}">
                    {{message}}
                </section>
            {% endfor %}
        {% endif %}
        <div class="d-flex justify-content-center align-items-start vh-100">
            <div class="col-12 col-md-8 text-center">
                <h2>Confirmação de Exclusão</h2>
                <p>Você tem certeza que deseja excluir o produto?</p>

                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                    <a href="{% url 'listar_produtos' %}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
        <!-- Integrando Bootstrap JavaScript (opcional, apenas se necessário para funcionalidades específicas) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>

