<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastrar Produto</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo">
                <img src="{% static 'image/logo_abaco.png' %}" alt="Logo">
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Bem Vindo, {{ user.get_username }} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'criar_pedido' %}">Criar-Pedido</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'cadastrar_produto' %}">Cadastrar-Produto</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="nav-link" role="button">Deslogar</a>
                        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                            {% csrf_token %}
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h1>Editar produto</h1>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group col">
                                    {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {% if field.field.choices %}  <!-- Verifica se o campo tem opções -->
                                            <select name="{{ field.name }}" class="form-control">
                                                {% for value, display_value in field.field.choices %}
                                                    <option value="{{ value }}" {% if value == field.value %}selected{% endif %}>{{ display_value }}</option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <div>
                                                {{field}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                
                                    <button type="submit" class="btn btn-warning">Salvar alterações</button>
                                    <a href="{% url 'listar_produtos' %}" class="btn btn-secondary">Voltar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>

