asgiref
crispy-bootstrap4==2024.1
Django==4.2.4
django-crispy-forms==2.1
djangorestframework==3.14.0
gunicorn==22.0.0
packaging==24.0
pytz==2023.3
sqlparse==0.4.4
typing-extensions<4,>=3.7.4.3
tzdata==2023.3
