
.navbar {
    display: flex;
    background-color: #ffffffd8; /* Barra superior branca */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave */
}
.navbar-brand {
    color: #333333; /* Cor do texto da barra superior */
    font-weight: bold;
    font-size: 34px;
}
.orcamento-item {
    border: 2px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 30px;
    background-color: #fff;
}
.visualizar-btn {
    float: right;
    margin-top: 0px;
    margin-left: -30px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-top: 10px; /* Altura da barra superior */
    background-color: #f8f9fa;
}
.container {
    text-align: center;
    padding: 10px;
   
}
.logo {
    display: flex;
    
}
