
body {
    padding-top: 120px; /* Altura da barra superior */
    background-color: #f8f9fa;
}
.navbar {
    background-color: #dddddd8f; /* Barra superior branca */
    box-shadow: 0 3px 6px rgba(0,0,0,0.1); /* Sombra suave */
    display: flex;
}
.titulo {
    display: flex;
    justify-content: center;
}
.new-orcamento-btn {
    font-weight: bold;
    margin-left: 1110px;
    margin-right: 0px;
}
.orcamento-item {
    border: 2px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #fff;
}
.visualizar-btn {
    float: right;
    margin-top: -7px;
    margin-left: -30px;
}
.btn-link {
    margin-top: -8px;

}

